@model IEnumerable<breweries.Models.Country>

@{
    ViewBag.Title = "Regions";
}
<div class="editHead">
    <h4 class="edit-name">Regions</h4>
</div>

<p class="create">
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Region)
        </th>
        <th>
            @Html.DisplayName("Region Wiki")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Region)
        </td>
        <td>
            <a href="http://@Url.Content(item.RegionBrewWiki)" target="_blank" class="website">@Html.DisplayFor(modelItem => item.RegionBrewWiki)</a>
        </td>
        <td>
            @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "table-links fa fa-edit" })
            @Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "table-links fa fa-info" })
            @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "table-links fa fa-trash" })
        </td>
    </tr>
}

</table>
